.container-fluid{
	width: 100%;
}
.container-90{
	width: 90%;
}
.container-901{
	width: 90%;
	display: flex;
	align-content: center;
	align-self: center;
	-ms-flex-align: center;
}
.row{
	display: table;
	content: "";
}
.row-header{
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}
.row-header2{
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	justify-content: flex-end;
}
.row-md{
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	justify-content: space-around;
}
.column-md{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.column-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.margin-one{
	margin: 1.5%;
	color: aliceblue;
}
.margin-two{
	margin: 3%;
	margin-top: 5%;
}
.margin-bottom{
	margin-bottom: 5%;
}
.text-center{
	display: flex;
	text-align: center;
}
.relative_position{
	line-height: 0%;
	position: relative;
	top: 0;
	left: 0;
}
.father{
	position: relative;
	min-height: 25px;
	top: 0;
	left: 0;
}
.son{
	width: 7%;
	min-width: 3.5em; 

	position: absolute;
	left:2%;
	top:70%;
}
@include respond-to('med'){
	.mobile{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.row-mb{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
	.column-mb{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}
