.maincard{
  margin: 5%;
  margin-top: 0%;
  display:flex;
 
  width:90%;
  padding: 0;
  border-radius:15px;
  font-family: sans-serif;
  background: rgb(255, 104, 217);
}
.title{
  width: 100%;
  background: rgb(25, 0, 117);
  border-radius:15px 15px 0 0 ;
  padding: 10px;
    font-size: 24px;
    color: white;
    text-align:center;
}
.info{
  padding: 10px;
}
.cardfooter{
  width: 100%;
  background: rgb(25, 0, 117);
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
  a{
    text-decoration: none;
    color: white;
    :after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: ""
      }
  }
}
.card1{
  margin: 5%;
  margin-left: 0%;
  padding: 5px;
  display:flex;
  vertical-align: middle;
  width:90%;
  height: 20%;
  border-radius: 2%;
  font-family: sans-serif;
  background: rgb(199, 43, 43);
}