.maincard{
  margin: 5%;
  display:flex;
  width:90%;
  height: 80%;
  padding: 0;
  border-radius:15px;
  font-family: sans-serif;
  background: rgb(255, 104, 217);
}
.title{
  width: 100%;
  background: rgb(197, 80, 197);
  border-radius:15px 15px 0 0 ;
  padding: 10px;
    font-size: 24px;
    color: white;
    text-align:center;
}
.info{
  padding: 10px;
}
.cardfooter{
  width: 100%;
  background: rgb(197, 80, 197);
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
  a{
    text-decoration: none;
    color: white;
    :after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: ""
      }
  }
}