.card3{
    display:flex;
	  flex-direction: column;
	  align-items: flex-start;
    vertical-align: middle;
    content: "";
    font-family: sans-serif;
    background:  rgb(255, 78, 54);
    border-radius:15px;
    width: 40%;
    height: fit-content;
    padding: 2%;
    margin: 1%;
    white-space: pre-line;
    word-break: normal;
  
    position: absolute;
    right: 5%;
    top: 5%;
}
#imgpop{
  height: 40px;

  position: absolute;
  z-index: 2;
  right: 5%;
  top: -50%;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 10%;
  margin-left: -80px;
  :after {
    content: "";
    position: absolute;
      right: 5%;
      top: -50%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.hide {
  display: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}