.submit {
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	margin: 0 10px 20px 0;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2%;
	background: #eee;
	display: flex;
	flex-direction: column;
    &:hover {
        background: #ddd;
    }
}
#email{
	margin-top: 1%;
	width: 70%;
	margin-left: 0.2%;
}
#enviar{
	margin-top: 2%;
	font-family: 'Hind', sans-serif;
	  font-weight: 700;
	  color:rgba(0, 27, 122, 1);
	background-color: aliceblue; 
	border-radius: 5%;
	border-style: hidden;
}
#email2{
	width: 100%;
}
#enviar2{
	margin-bottom: 2%;
	padding: 1%;
	font-family: 'Hind', sans-serif;
	  font-weight: 700;
	  color:rgba(0, 27, 122, 1);
	background-color: aliceblue; 
	border-radius: 5%;
	border-style: hidden;
}
.choose{
	display:inline-flex;
	flex-direction: row;
}
.options{
	margin-top: 2%;
}
.optionsb{
	margin: 1%;
}
#textspace{
	width: 100%;
	height: fit-content;
}
#desplegable{
	width: 100%;
}