header{
	max-height: 40px;
	min-height: 40px;
	background-color: rgb(255, 155, 188);
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}
#header{
	display: flex;
	flex-direction: row;
    position: absolute;
}
nav a{
	text-decoration: none;
	color: aliceblue;
	transition: all ease 0.25s;
		&:hover{
			color: rgba(255,255,255,1);
			border-bottom-color:aliceblue;
		}
}
#menu_on{
	display: inline-block;
	width:30px;
	height: 20px;
	position: relative;
	z-index: 2;
}
#LOGO{
	width: 30px;
	height: 30px;
	margin: 15%;

	position: relative;
}
