#help{
    background-color: rgb(255, 78, 54);
    width: 30%;
    height: 7%;
    min-height: fit-content;
    border-radius: 15px;
    z-index: 9; 
    padding: 1%;
    display:flex;
    vertical-align: middle;
    
    position: fixed;
    top: 55%;
    left: 55%;
    font-family: sans-serif; 
}
.closing{
    font-family: inherit;
        text-decoration: none;
}
